$orange: #f0650d;
$gray: #4b5a65;
$dark: #293a43;
$black: #1e2f38;
$bright: #ededed;

@mixin dark-style {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    background-color: $dark;
  }
}

@mixin image-size {
  max-width: 25rem;
  max-height: 20rem;
}

@mixin black-style {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.92;
    background-color: $dark;
  }
}

@mixin bg-image-style {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

@mixin text-inside {
  color: #eee;
  font-size: 0.9rem;
  font-weight: 600;
}

@mixin hover-style {
  &:hover .text {
    color: $orange;
    padding: 0.5rem;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@mixin links-hover {
  &:hover {
    color: $orange;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
  }
}
